<!DOCTYPE html>
<html>

<head>
<title>Twitter</title>
</head>

<body>

<header>
	<h1 class="center_head"> Twitter </h1>

</header>
	
	<%= yield %>        <!-- The codes in other files in this folder get replaced in yield -->

<footer>
	<p class="center_footer"> Made By: Mudit Bhardwaj </p>
</footer>
</body>

<style>
.center_head {
    margin: auto;
    text-align: center;
    color: #00aced;
    font-size: 50px;
}
.center_footer {
    margin-left: 70%;
    text-align: center;
    color: rgba(0,0,255,0.8);
    font-size: 20px;
}
</style>

</html>