<div class="center_head"> SIGN UP... </div>

<br><br>

<form action="/register" method="POST">
<label>Username: </label> <input type="text" name="username"><br>
<label>Password: </label> <input type="password" name="password"><br>
<input type="submit" name="submit">
</form>

<style>
	.center_head {
    margin: auto;
    text-align: center;
    color: #00aced;
    font-size: 30px;
}
</style>